@model ProductsDto?


<style>
    html, body {
        height: 100%;
        width: 100%;
        margin: 0;
        font-family: 'Roboto', sans-serif;
    }

    .container {
        max-width: 1200px;
        margin: 0 auto;
        padding: 15px;
        display: flex;
    }

    .left-column {
        width: 65%;
        position: relative;
        background-blend-mode: normal;
        align-content: center;
        height:100%;
    }

    .left-column img {
        width: 1000px;
        height: 750px; 
        display: block;/* This ensures that any extra space below the image is removed */
        margin: auto;  /* Centers the image within the column */
    }

    .right-column {
        width: 35%;
        margin-top: 60px;
        position: relative;
        text-align: center;
        background-color: #272b30;
        border: #377385;
        height: 100%;
    }
</style>
<form method="post" style="height:100%">
    <input asp-for="ProductId" hidden/>
    <main class="container">

        <!-- Left Column / Headphones Image -->
        <div class="left-column">
            <img src="@Model.ImageUrl" style="width: 1200px">

        </div>


        <!-- Right Column -->
        <div class=" right-column " style="height: 100%;">

            <div style="height: 100%; padding: 5px; border: 5px double whitesmoke; border-radius: 3px">
                <!-- Product Description -->
                <div class="product-description" style="justify-content: center; align-items: center;">
                    <span class="badge bg-warning text-white p-2">@Model.CategoryName</span>
                    <h1 style="justify-content: center">@Model.Name</h1>
                    <p>@Model.Description</p>
                </div>

                <!-- Product Configuration -->
                @*         <div class="product-configuration"></div> *@

                <!-- Product Pricing -->
                <div class="product-price">
                    <span class="text-danger justify-content-center"> @Model.Price.ToString("C")</span>
                    <br/>
                    <label for="1" style="  margin-bottom: 3px; font-weight: bold">The Amount</label>
                    <input asp-for="Count" id="1" class="form-control justify-content-center"  type="number" 
                           style="width: 100%; padding: 10px; font-size: 16px; border: 1px solid white; border-radius: 7px;"/>
                    <br/>
                    <a asp-controller="Home" asp-action="Index" class="btn btn-primary m-1">Back to Home</a>
                    <input type="submit" value="Add To Cart" asp-controller="Home" asp-action="ProductsDetailsToCart" class="btn btn-success m-1">
                </div>
            </div>

        </div>

    </main>
</form>
