@model ProductsDto?


<style>
    html, body {
        height: 100%;
        width: 100%;
        margin: 0;
        font-family: 'Roboto', sans-serif;
    }

    .container {
        max-width: 1200px;
        margin: 0 auto;
        padding: 15px;
        display: flex;
    }

    .left-column {
        width: 65%;
        position: relative;
        background-blend-mode: normal;
        align-content: center;
        height:100%;
    }

        .left-column img {
            width: 1000px;
            height: 750px; 
            display: block;/* This ensures that any extra space below the image is removed */
            margin: auto;  /* Centers the image within the column */
        }

    .right-column {
        width: 35%;
        margin-top: 60px;
        position: relative;
        text-align: center;
        background-color: #272b30;
        border: #377385;
        height: 100%;
    }
</style>
<main class="container">

    <!-- Left Column / Headphones Image -->
    <div class="left-column">
        <img src="@Model.ImageUrl">

    </div>


    <!-- Right Column -->
    <div class=" right-column border rounded my-5" style="height: 100%">

        <div style="height: 100%">
            <!-- Product Description -->
            <div class="product-description" style="justify-content: center; align-items: center;">
                <span class="badge bg-warning text-white p-2">@Model.CategoryName</span>
                <h1 style="justify-content: center">@Model.Name</h1>
                <p>@Model.Description</p>
            </div>

            <!-- Product Configuration -->
            @*         <div class="product-configuration"></div> *@

            <!-- Product Pricing -->
            <div class="product-price">
                <span class="text-danger justify-content-center align-content-center"> @Model.Price.ToString("C")</span>
                <br></br>
                <a class="btn btn-success">Add to cart</a>
            </div>
        </div>

    </div>


</main>